<% include ../partials/header.ejs %>

<form action="/camps" method="POST">
    <input type="text" name="name" placeholder="camp name"/><br>
    <input type="text" name="imageUrl" placeholder="image url"/><br>
    <input type="text" name="desc" placeholder="description"/><br>
    <button>Add Camp!</button>
</form>

<% include ../partials/footer.ejs %>