<% include partials/header.ejs %>

<h1>Welcome to YelpCamp!</h1>
<p>This is home page!</p>
<a href="/camps">View camps!</a> <br>
<a href="/camps/new">Add a new Camp!</a><br>

<% include partials/footer.ejs %>